nav {
  padding-top: 10px;
  padding-right: 60px;
  padding-left: 60px;
  position: relative;
  height: 60px;
  background-color: grey;
  width:100%;
}

.logo {
 height:50px;
 border:1px solid black;
}

li{
  display:inline-block;
  margin-top: -85px;
}

body{
  background: url("/images/outerspace_landscape.jpeg");
}

.topimg{
  width:200px;
  height:200px;
  position:absolute;
  margin-left:-95px;
  margin-top:-115px;
}

.bottomimg{
  width:200px;
  height:200px;
  position:absolute;
  margin-left:475px;
  margin-top:150px;
}

.box{
  border:10px dotted green;
  width:600px;
  height:300px;
  margin-top:150px;
  position:relative;
  margin-left:400px;
}
